@import '../config';

section.image-text-section.short-leaderboard {
    section.leaderboard ul li p {
        &:nth-child(2) {
            width: 50%;
        }

        &:nth-child(5) {
            display: none;
        }
    }
}

section.image-text-section.short-leaderboard,
main.leaderboard-page {
    section.no-data-wrap {
        @include Flex(c, c, c);

        button {
            cursor: pointer;
            padding: 1em;
            border: 0;
            outline: 0;
            border-radius: .25em;
            background: $clr-blued;
            margin-top: 2em;
            transition: .5s;

            p {
                font-weight: 400;
                color: $clr-whitel;
            }

            &:hover {
                background: darken($clr-blued, 10%);
            }
        }

        h4 {
            text-align: center;
            color: #606060;
            font-weight: 600;
            font-size: 1.5rem;
        }
    }

    section.leaderboard {
        p.header {
            font-size: 2rem;
            text-align: center;
            margin-bottom: 1.5em;
        }

        ul {
            li {
                @include Flex(sb);

                p {
                    padding: .5em;
                    min-width: min-content;

                    &:nth-child(1) {
                        width: 10%;
                    }

                    &:nth-child(3),
                    &:nth-child(4) {
                        width: 20%;
                        text-align: right;
                    }
                }

                &.list-description {
                    margin-bottom: 1em;

                    p {
                        font-weight: 700;
                        font-family: 'Roboto Mono', monospace;
                    }
                }
            }
        }
    }
}