@import '../../config';


nav.layout-navigation {
    background: $navAndFooterBg;
    height: $navHeight;
    padding: .5em 1.5em;
    @include Flex(sb, c);
    width: 100%;
    z-index: 2;

    &.visible {
        position: fixed;
        left: 0;
        top: 0;
        animation: nav-scroll .5s;

        @keyframes nav-scroll {
            0% { top: -100% }
            100% { top: 0 }
        }
    }

    p.header-name {
        font-size: 1.9rem;
        letter-spacing: 3px;
        color: #909090;
        font-family: 'Roboto Mono', monospace;
        font-weight: 200;
    }

    section {
        @include Flex(none, c);

        span {
            display: block;
            cursor: pointer;
            @include Rectangle(35px);
            transition: .5s;

            &:last-child {
                margin-left: 1em;
            }

            &:hover {
                color: $clr-bluel;
            }
        }
    }

    figure {
        cursor: pointer;

        &, img { height: 100%; }
    }

    @media (max-width: 480px) {
        p.header-name {
            display: none;
        }
    }
}