@import '../config';


main.leaderboard-page {
    min-height: calc(100vh - $navHeight);
    padding: 4em 6em;

    section.leaderboard {
        ul li p {
            &:nth-child(2) {
                width: 40%;
            }
    
            &:nth-child(5) {
                text-align: right;
                width: 10%;
            }
        }

        p.header {
            margin: 0;
        }

        div {
            @include Flex(sb, c);
            margin-bottom: 4em;

            button {
                cursor: pointer;
                padding: 1em;
                border: 0;
                outline: 0;
                border-radius: .25em;
                background: $clr-blued;
                transition: .5s;

                p {
                    font-weight: 400;
                    color: $clr-whitel;
                }

                &:hover {
                    background: darken($clr-blued, 10%);
                }
            }
        }

        p:not(.header):not(button p) {
            @include Clamp(.9, 3, 1.2);
        }

        section.no-data-wrap {
            margin-top: 5em;

            h4 {
                font-size: 2rem;
            }
        }
    }

    @media (max-width: 1000px) {
        padding: 4em 2em;
    }

    @media (max-width: 480px) {
        padding: 4em .75em;
    }
}