@import '../config';


main.error-page {
    height: calc(100vh - $navHeight);
    padding: 4em;
    @include Flex(c, c, c);

    h1 {
        font-weight: 800;
        font-size: 4rem;
    }

    h2 {
        font-weight: 400;
        font-size: 1.25rem;
        font-family: 'Roboto Mono', monospace;
        color: $clr-whited;
    }

    button {
        padding: 1em;
        border-radius: .25em;
        border: 0;
        outline: 0;
        background: $clr-blued;
        transition: .5s;
        cursor: pointer;
        margin-top: 5em;

        p {
            color: $clr-whitel;
            font-weight: 400;
        }

        &:hover {
            background: darken($clr-blued, 10%);
        }
    }
}