@import '../config';


section.image-text-section {
    @include Flex(sa, c);
    padding: 5em 3em;

    &.short-leaderboard {
        flex-direction: row-reverse;

        section.leaderboard {
            width: 45%;
        }
    }

    &.what-is-this-about figure {
        width: 40%;

        img {
            width: 100%;
        }

    }

    section.text-section {
        width: 35%;

        p {
            &.header {
                font-weight: 700;
                font-size: 2.25rem;
            }

            &.text {
                font-family: 'Roboto Mono', monospace;
                border-left: 3px solid $clr-oranged;
                padding-left: .75em;
                margin: .5em 0 2em 0;
            }
        }

        button {
            background: $clr-oranged;
            border-radius: .5em;
            outline: 0;
            border: 0;
            padding: 1em;
            cursor: pointer;
            transition: .5s;

            p {
                text-transform: uppercase;
                font-weight: 400;
                color: $clr-whitel;
            }

            &:hover {
                background: darken($clr-oranged, 5%);
            }
        }
    }
}