/*
   Media queries: 1200px | 1000px | 768px | 480px
*/
footer.layout-footer {
  background: #282828;
  padding: 3.5rem;
}
footer.layout-footer div.wrap {
  display: flex;
  justify-content: space-between;
  align-items: none;
  flex-direction: row;
}
footer.layout-footer div.wrap section.contact,
footer.layout-footer div.wrap section.contact div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer.layout-footer div.wrap section.contact div:not(:last-child) {
  margin-bottom: 1.5em;
}
footer.layout-footer div.wrap section.contact div p {
  font-weight: 600;
  margin-bottom: 0.5em;
  font-size: 0.9rem;
}
footer.layout-footer div.wrap section.contact div span {
  display: block;
  height: 40px;
  width: 40px;
  cursor: pointer;
  transition: 0.5s;
}
footer.layout-footer div.wrap section.contact div span:hover {
  color: rgb(109, 160, 255);
}
footer.layout-footer div.wrap section.informations {
  width: 25%;
}
footer.layout-footer div.wrap section.informations h2 {
  font-weight: 800;
  border-bottom: 2px solid #fff;
  margin-bottom: 1em;
  padding-bottom: 0.25em;
  font-size: 1.75rem;
  letter-spacing: 2px;
}
footer.layout-footer div.wrap section.informations p {
  color: #cccccc;
  line-height: 1.75em;
}
footer.layout-footer p.copyright {
  text-align: center;
  font-family: "Roboto Mono", monospace;
  font-weight: 200;
  margin-top: 4em;
}