@import '../config';


section.game-summary {
    background: #292929;
    padding: 2em;
    border-radius: .25em;

    div.buttons {
        @include Flex(c, c);
        margin-top: 5em;

        button {
            display: block;
            margin: 0 1em;
            outline: 0;
            border: 0;
            border-radius: .5em;
            cursor: pointer;
            padding: 1em;
            color: $clr-whitel;
            transition: .5s;
    
            p {
                font-weight: 400;
                font-size: 1.1rem;
            }
    

            &.restart {
                background: $clr-oranged;

                &:hover {
                    background: darken($clr-oranged, 10%);
                }
            }

            &.save {
                background: $clr-blued;

                &:hover {
                    background: darken($clr-blued, 10%);
                }
            }
        }
    }

    section.statistics {
        margin-top: 4em;
        
        div {
            margin: 0 auto;
            width: 50%;

            &.wpm {
                margin-top: 3em;
                @include Flex(c, c, c);

                p {
                    &:first-child {
                        font-weight: 800;
                        font-size: 2.75rem;
                    }

                    &:last-child {
                        font-family: 'Roboto Mono', monospace;
                        font-size: 1.75rem;
                        color: $clr-whited;
                        font-weight: 400;
                    }
                }
            }

            &:not(.wpm) {
                @include Flex(sb, c);
                border-bottom: 2px solid #bbb;
                padding: .5em 0;

                p {
                    &:first-child {
                        text-transform: uppercase;
                    }
    
                    &:last-child {
                        font-weight: 800;
                        font-size: 1.25rem;
                    }
                }
            }
        }
    }

    h2 {
        font-weight: 500;
        font-size: 1.75rem;
        text-align: center;
        opacity: .35;
    }

    h3 {
        text-align: center;
        margin-top: .5em;
        font-size: 1rem;
        opacity: .75;
        text-transform: uppercase;
        font-weight: 600;
    }

    @media (max-width: 768px) {
        margin-top: 4em;
        padding: 2em 1.5em;
        
        section.statistics {
            div {
                width: 100%;
            }
        }
    }
}