// font-family: 'Poppins', sans-serif;
// 200-800

// font-family: 'Roboto Mono', monospace;
// 100-700

@import './config';


div.App,
div#root { overflow-x: hidden; }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 300;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #303030;
    color: $clr-whitel;
    width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;

    span.layout-arrow-scroll {
        position: fixed;
        right: .75em;
        bottom: .75em;
        transition: .5s;
        opacity: 0;
        @include Rectangle(30px);
        color: $clr-blued;
        background: $clr-whitel;
        border-radius: .5em;
        cursor: pointer;

        &.visible {
            opacity: 1;
        }
    }

    button p {
        pointer-events: none;
    }

    svg {
        pointer-events: none;
        @include FullSize;
    }
}